* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
    
}

body, html {
    display: flex;
    background-color: black;
    height:100%;
    width:100%;
    color: rgb(255, 255, 255);
}

.container { display: flex;}

.select {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
}

.selectDiv {
    border: 5px solid white;
    border-radius: 20px;
    padding: 140px;
    font-size: 30px;
    text-shadow: 3px 3px rgb(0, 0, 0);
}

#opt {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
}

#code, #decode {
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 7em;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 3px;
}

#code:hover, #decode:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
    transition: 500ms;
}

.pandoraBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pandoraBox textarea {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 0.5em;
}

#incremento{
    width: 20%;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
}

#rodape {
    margin-top: 10px;
}

